/* Container for the grid */
.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5; 
}
.heading {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 30px;
}


.movie-card {
  background-color: #000; 
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.movies-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}
.movie-card h2 {
  color: #fff; 
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* List and paragraph styling */
.movie-card p,
.movie-card ul,
.movie-card li {
  font-size: 1em;
  color: #ffffff; /* Black text inside the box */
  margin: 5px 0;
}

/* Hover effect for the movie card */
.movie-card:hover {
  transform: scale(1.05); /* Pop-in effect */
  background-color: #1a1a1a; /* Slightly lighter black on hover */
}

/* List styling for cast */
.movie-card ul {
  list-style-type: none;
  padding: 0;
}

.movie-card li {
  margin: 5px 0;
  color: #ffffff; /* Black text */
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 1.2em;
  text-align: center;
  margin: 20px;
}
